h1 {
    text-align: center;
}

.placeholder {
    display: flex;
    text-align: center;
    margin: auto;
    flex-direction: column;
    max-width: 250px;
    min-width: 250px;
    
}

.button {
    display: flex;
    margin: auto;
     max-width: 200px;
    margin-top:10px;
    height:50px;
    font-size:25pt;
}
img{
width: 250px;
     display: flex;
    margin: auto;
}
li{
 display: flex;
    text-align: center;
    font-size:25px;
}

input{
    display: flex;
 margin-top:25px;
 height:50px;
 font-size:14pt;
}
.result{
    display: flex;
   align-items: center;
    text-align: center;
    flex-direction: column;

}